 body {
	margin: 0;
	padding: 0;
 }
 
 #cv-lightbox
{ 
	 left: 0px; 
	 top: 0px; 
	 position: relative; 
	 margin-left: auto; 
	 margin-right: auto; 
	 width: 1400px;
	 height: 1000px; 
	 overflow: hidden;
	 z-index:0;
	} 

 #modalwindow 
{ 
	 left: 424px; 
	 top: 296px; 
	 position: absolute; 
	 width: 552px;
	 height: 352px;
	 z-index:1;
} 

 #image 
{ 
	 left: 199px; 
	 top: 400px; 
	 position: absolute; 
	 width: 480px;
	 height: 480px;
	 z-index:2;
} 

 #shadow 
{ 
	 left: 199px; 
	 top: 400px; 
	 position: absolute; 
	 width: 480px;
	 height: 480px;
	 z-index:3;
} 

 #shadow_0 
{ 
	 left: 0px; 
	 top: 231px; 
	 position: absolute; 
	 width: 822px;
	 height: 769px;
	 z-index:4;
} 

 #Loremipsumdolorsitam 
{ 
	 left: 476px; 
	 top: 624px; 
	 position: absolute; 
	 width: 449px;
	 height: 11px;
	 z-index:5;
} 

 #CTA 
{ 
	 left: 554px; 
	 top: 550px; 
	 position: absolute; 
	 width: 292px;
	 height: 45px;
	 z-index:6;
} 

 #CTAhover 
{ 
	 left: 554px; 
	 top: 550px; 
	 position: absolute; 
	 width: 292px;
	 height: 45px;
	 z-index:7;
    text-align: center;
} 

#CTAhover  .button {
    background-color: #F59C00;
    border: none;
    color: white;
    padding: 9px 80px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    margin: 4px 2px;
    cursor: pointer;
    font-weight: 400;
}
 
{ 
	 left: 634px; 
	 top: 565px; 
	 position: absolute; 
	 width: 131px;
	 height: 16px;
	 z-index:8;
} 

 #emailfield 
{ 
	 left: 469px; 
	 top: 491px; 
	 position: absolute; 
	 width: 462px;
	 height: 46px;
	 z-index:9;
} 
#emailfield input
{
    width: 450px;
    height: 40px;
    text-align: center;
    margin-left: 10px;
    font-size: 22px;
}

/* CSS for placeholder styling for all browser*/
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #BDBDBD;
    font-size: 22px;
}
input:-moz-placeholder,
textarea:-moz-placeholder {
  color: #BDBDBD;
    font-size: 22px;
}
input::-moz-placeholder,
textarea::-moz-placeholder {
  color: #BDBDBD;
    font-size: 22px;
}
input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #BDBDBD;
    font-size: 22px;
}
 #Enteryouremailaddres 
{ 
	 left: 589px; 
	 top: 506px; 
	 position: absolute; 
	 width: 221px;
	 height: 19px;
	 z-index:10;
} 

 #justbysubscribingtoo 
{ 
	 left: 544px; 
	 top: 447px; 
	 position: absolute; 
	 width: 312px;
	 height: 19px;
	 z-index:11;
} 

 #Get10Offnow 
{ 
	 left: 490px; 
	 top: 357px; 
	 position: absolute; 
	 width: 421px;
	 height: 77px;
	 z-index:12;
} 

 #closebutton 
{ 
	 left: 959px; 
	 top: 282px; 
	 position: absolute; 
	 width: 31px;
	 height: 31px;
	 z-index:13;
} 

 #xshape 
{ 
	 left: 965px; 
	 top: 288px; 
	 position: absolute; 
	 width: 19px;
	 height: 20px;
	 z-index:14;
} 

 #xshapehover 
{ 
	 left: 965px; 
	 top: 288px; 
	 position: absolute; 
	 width: 19px;
	 height: 20px;
	 z-index:15;
} 

 #counterbox 
{ 
	 left: 607px; 
	 top: 248px; 
	 position: absolute; 
	 width: 187px;
	 height: 87px;
	 z-index:16;
} 

 #timer
{ 
	left: 654px;
    top: 295px;
    font-size: 36px;
    font-weight: 900;
    position: absolute;
    width: 100px;
    height: 45px;
    text-align: center;
    z-index: 17;
    color: #F59C00;
    background-color: white;
} 

 #Thisofferexpiresin 
{ 
	 left: 630px; 
	 top: 268px; 
	 position: absolute; 
	 width: 139px;
	 height: 16px;
	 z-index:18;
} 
